.order-page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 100px;
}

.order-page__left {
  width: 70%;
}

.order-page__right {
  width: 27%;
  font-size: 18px;
  font-weight: bold;
}