.film-page__content {
  display: flex;
}

.film-page__left {
  width: 70%;

  .description {
    width: 90%;
    margin-top: 20px;
  }
}

.film-page__right {
  width: 30%;
}

.film-page__buy-film {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}