.order-item {
  display: flex;
  margin-bottom: 30px;
}

.order-item__cover {
  width: 100px;
  margin-right: 30px;
}

.order-item__title {
  font-size: 24px;
  font-weight: bold;
  width: 500px;
}

.order-item__price {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-left: auto;
}