.film-item {
  text-decoration: none;
  color: white;
  width: 320px;
  height: 500px;
  background-color: rgb(36, 44, 74);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  
  &:hover {
    background-color: rgb(46, 55, 89);
    transition: 0.2s;
  }
}

.film-item:not(:last-child) {
  margin-bottom: 30px;
  margin-right: 50px;
}

.film-item__title {
  font-size: 18px;
  font-weight: bold;
}

.film-item__genre {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.film-item__details{
  padding: 10px 20px;
}

.film-item__description {
  margin-top: 10px;
  font-size: 14px;
}

.film-item__buy {
  position: absolute;
  right: 5px;
  bottom: 5px;
}